.flexSB {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio {
  position: relative;
  margin-top: 7rem;
}

.portfolio h1 {
  margin-top: 20px;
  font-size: 30px;
}

.portfolio li {
  margin-left: 30px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.5s;
}

.portfolio li:hover,
.portfolio li.active {
  background-color: #6f34fe;
  color: #fff;
  padding: 5px 10px;
}

.portfolio img {
  height: 100%;
  border-radius: 35px;
  padding: 1rem;
  box-sizing: border-box;
  cursor: pointer;
}

.portfolio_img {
  width: 98%;
}

.left {
  text-align: center;
  font-size: 2rem;
}

.left h2 {
  color: #6f34fe;
  margin-top: 1rem;
}

.links {
  margin-top: 2rem;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio .box {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.portfolio .overlay h1 {
  margin: 0;
  font-size: 20px;
  color: #fca61f;
  margin-left: 35px;
}

.portfolio .overlay {
  position: absolute;
  bottom: 20px;
  width: 92%;
  margin-left: 1rem;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-top: -5rem;
  opacity: 0;
  transition: 0.5s;
}

.portfolio .box:hover .overlay {
  opacity: 1;
}
